In [6]:
'''
Inference Linear Regression (Suy diễn)
'''

'\nInference Linear Regression (Suy diễn)\n'

In [7]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv('dulieuxettuyendaihoc.csv', header = 0, delimiter=',', encoding='unicode_escape')
df = df[['T1', 'T2', 'T3', 'T4', 'T5', 'T6','DH1', 'DH2', 'DH3', 'GT', 'KV', 'KT', 'DT']]
df

     T1   T2   T3   T4   T5   T6   DH1   DH2   DH3 GT   KV  KT  DT
0   7.2  8.4  7.4  7.2  7.4  6.9  3.25  3.25  4.50  F  2NT  A1 NaN
1   5.4  6.3  4.3  4.9  3.0  4.0  6.00  4.00  3.50  M    1   C NaN
2   5.6  5.0  2.8  6.1  4.8  5.7  5.00  6.75  4.00  M    1   C NaN
3   6.6  5.1  5.9  4.1  6.1  7.4  4.25  4.25  5.25  M    1  D1 NaN
4   6.0  5.4  7.6  4.4  6.8  8.0  4.25  4.50  5.00  M  2NT   A NaN
..  ...  ...  ...  ...  ...  ...   ...   ...   ... ..  ...  ..  ..
95  8.6  8.9  7.7  6.7  7.9  6.6  5.25  1.50  6.25  F    1   C NaN
96  3.7  4.1  3.1  3.4  5.5  5.7  5.25  3.75  4.75  F    1   C NaN
97  8.8  9.5  9.5  8.5  9.0  8.5  7.00  8.00  4.00  M  2NT   C NaN
98  2.7  2.8  6.2  5.2  4.1  4.3  5.00  3.50  5.50  M    1   C NaN
99  4.1  4.4  6.0  4.3  5.6  5.1  5.25  2.50  4.25  M  2NT   C NaN

[100 rows x 13 columns]

In [9]:
X = df[['T1', 'T2', 'T3', 'T4', 'T5', 'T6']].values
y = df[['DH1']].values

#Chia làm 2 tập train và test tỉ lệ 0.8 0.2
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [ ]:
'''
Hồi quy tuyến tính đa biến - Suy diễn tổng thể
'''

import statsmodels.api as sm